.navbar{
    
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    height:85px;
    display:flex;
    

}

.troll{
    height:35px;
    margin-top: 8%;
}
.meme{
    color: #FFF;
font-family: Karla;
font-size: 28.748px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.075px;
margin-left:4%;

width:250px
}

.img{
    display: flex;
    justify-content: left;
    margin-left:2%

}

.react_proj{
    color: #FFF;
text-align: right;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 0%;
margin-left: 60%;
margin-top: 2%;
letter-spacing: 1px;
}

.inputbox{
    display: flex;
    
    justify-content:space-evenly;
    margin-top: 5%;
    margin-left: 25%;
   
    width:50%;
   
 

}
.box1{
    width:300px;
   
 
}
.box2{
    width: 300px;
}
.components{
    display: flex;
}

.button{
    border-radius: 5px;
background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
width: 550px;
height: 50px;
margin-top: 50px;

}

.buttondiv{
    display: flex;
    align-items:center;
    justify-content: center;

}

.buttontext{
    color: #FFF;
text-align: center;
font-family: Karla;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5px;
}